[Desktop Entry]
Type=Service
Comment=Embeddable HTML component
Comment[x-test]=xxEmbeddable HTML componentxx
Icon=webkit
MimeType=text/html;application/xml;application/xhtml+xml;
Name=WebKit
Name[x-test]=xxWebKitxx
X-KDE-ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=kwebkitpart
InitialPreference=9
